<% title t(:'resource.edit', :model => User.model_name.human) %>

<%= render 'form' %>

<p class="actions">
  <%= link_to t(:'actions.show'), @user %> |
  <%= link_to t(:'title.users'), users_path %>
</p>
