<h2>Über dieses System</h2>
<p>Mini-VMail bietet die Administration von Domains, Postfächern und Weiterleitungen (Aliases) für einen Mailserver. Es ist für Postfix und Dovecot konzipiert, und benutzt eine PostgreSQL-Datenbank.
Alternative kann MySQL konfiguriert werden. Die Unterstützung für die verwedente Datenbank muss in Postfix und Dovecot aktiviert weden.</p>
