	<h2>About this System</h2>
	<p>Mini-VMail implements the management of domains, mailboxes and forwards (Aliases) for a mail server. It is designed for Postfix and Dovecot, and uses a PostgreSQL Database.
	Alternatively it can be configured to use MySQL. Support for the desired database needs to be configured / compiled for Postfix and Dovecot.</p>
