<h2>Über dieses System</h2>
<p>Mini-VMail bietet die Administration von Domains, Postfächern und Weiterleitungen (Aliases) für einen Mailserver. Es ist für Postfix und Dovecot konzipiert, und benutzt eine PostgreSQL-Datenbank.
Alternative kann MySQL konfiguriert werden. Die Unterstützung für die verwedente Datenbank muss in Postfix und Dovecot aktiviert weden.</p>
<p>Unter "<%= t :'title.downloads' %>" sind Beispielkonfigurationen für die Dovecot-Passwortdatenbank, die Domain- und Mailbox-Abfragen für Postfix sowie ein Export der Domains für eine lokale Domain-Map in Postfix verfügbar.</p>
