<% title t(:'title.home') %>
<ul>
	<li><%= link_to t(:'title.domains'), domains_path %></li>
	<li><%= link_to t(:'title.mailboxes'), mailboxes_path %></li>
	<li><%= link_to t(:'title.forwards'), forwards_path %></li>
</ul>